<div class="sticky-top sticky-top-offset" style="border-left-width: 1rem;border-left-style: solid;border-top-width: 1rem;border-top-style: solid;border-right-width: 1rem;border-right-style: solid;border-bottom-width: 1rem;border-bottom-style: solid;padding-left: 1rem;padding-top: 1rem;padding-right: 1rem;border-style: double;border: color-mix blueviolet burlywood;border-image: linear-gradient(to right, #e1f0ff 25%, #fff4cb 25%, #fff4cb 50%,#8cb2e9 50%, #8cb2e9 75%, #e8e8ee 75%) 5; background: white;">
    <h4 class="font-weight-bold spanborder"><span>My Favies</span></h4>  
    <ol class="list-featured">				
        {% for post in site.tags.featured %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>                
        {% endfor %}   
    </ol>
</div> 